@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  color: #121417;
  width: 100%;
  height: 100vh;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}

/* InfoPanel */
.border-custom {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}

.border-custom svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  pointer-events: none;
}
/* PopUp Info */
.border-top {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}
/* Custom Modal */
.modal-content {
  width: 600px;
  max-width: 90%;
  transform: scale(0.9);
  transform-origin: center;
}
/* Decor vertical line HeaderTeacherCard */
.with-line::after {
  @apply absolute right-0 top-1/2 transform -translate-y-1/2 w-px h-4 bg-borderColor;
  content: '';
}
/* Custom underline */
.custom-underline {
  position: relative;
}
.custom-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 1px;
  background-color: #121417;
}
/* Custom select filter */
.css-1u9des2-indicatorSeparator {
  display: none;
}

@media (max-width: 1318px) {
  .flex-wrapper {
    font-size: 14px;
    width: 168px;
    position: absolute;
    flex-direction: column;
    top: 140px;
    left: -170px;
  }

  .with-line::after {
    display: none;
  }

  .flex-wrapper > div > .flex {
    padding: 10px 0 0 0;
  }

  .reverse {
    flex-direction: row-reverse;
  }
  .modal-pad {
    padding: 60px 50px;
  }
}

@media (max-width: 1250px) {
  .custom-gap {
    gap: 40px;
  }
  .modal-pad {
    padding: 50px 40px;
  }
}

@media (max-width: 1040px) {
  .pad-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .pad-box-w {
    width: 100%;
    max-width: 700px;
    margin: 0px;
  }
  .custom-gap {
    gap: 24px;
    max-width: 700px;
    width: 100%;
  }

  .info-panel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .info-panel article {
    width: 100%;
  }

  .info-panel article:nth-child(3) {
    margin-left: 2px;
  }

  .info-panel article:nth-child(4) {
    margin-left: 11px;
  }
}

@media (max-width: 878px) {
  .pad-padding {
    padding: 32px 16px;
  }
  .main-info {
    padding: 80px 40px;
  }
}

@media (max-width: 590px) {
  .mobile-padding {
    padding: 32px 0px;
  }
  .mobile-flex {
    flex-wrap: wrap;
  }

  .flex-wrapper {
    top: -130px;
    left: 140px;
  }

  .text-mobile {
    margin-top: 8px;
  }

  .mobile-like {
    top: -120px;
  }

  .text-mob-size {
    font-size: 14px;
  }
  .text-pad {
    font-size: 20px;
  }

  .info-panel {
    gap: 14px;
  }

  .info-panel article:nth-child(3) {
    margin-left: -4px;
  }

  .info-panel article:nth-child(4) {
    margin-left: 2px;
  }
  .main-info {
    padding: 60px 30px;
  }

  .mobile-box {
    flex-direction: column;
    padding-left: 20px;
  }
  .modal-mob {
    padding: 50px 30px;
  }
}

@media (max-width: 490px) {
  .text-pad {
    font-size: 20px;
  }

  .text-mob {
    font-size: 16px;
  }

  .padding-mob {
    padding-left: 66px;
    padding-right: 66px;
  }

  .info-panel {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .info-width {
    width: 100%;
  }

  .info-position {
    text-align: start;
    padding-left: 60px;
  }
  .info-accent {
    padding-right: 60px;
    margin-left: 0;
  }

  .info-panel article:nth-child(3) {
    margin-left: -1px;
  }
  .info-panel article:nth-child(4) {
    margin-left: -1px;
  }

  .bg-reduce {
    background-size: 313px, 271px;
    background-position:
      bottom center,
      center calc(100% - 86px) !important;
    min-height: 420px !important;
  }
  .main-info {
    padding: 40px 20px;
  }
}

@media (max-width: 452px) {
  .info-position {
    text-align: start;
    padding-left: 60px;
    font-size: 16px;
  }
  .info-accent {
    padding-right: 30px;
    margin-left: 0;
    font-size: 14px;
  }
  .main-text {
    font-size: 38px;
  }
  .mob-trial-title {
    font-size: 28px;
  }
  .mob-radio-box {
    margin-top: 20px;
  }
  .bg-main-accent {
    top: 16px;
    height: 28px;
  }
}

@media (max-width: 410px) {
  .info-position {
    padding-left: 40px;
  }
  .bg-reduce {
    background-size: 250px, 217px;
    background-position:
      bottom center,
      center calc(100% - 69px) !important;
    min-height: 350px !important;
  }
  .main-text {
    font-size: 36px;
  }
  .modal-content {
    max-width: 100%;
    transform: scale(0.8);
    transform-origin: center;
  }
}

@media (max-width: 359px) {
  .avatar-mob-box {
    width: 80px;
    height: 80px;
  }
  .avatar-mob-img {
    width: 68px;
    height: 68px;
  }

  .flex-wrapper {
    font-size: 12px;
    top: -90px;
    left: 100px;
  }

  .flex-wrapper > div > .flex {
    padding: 6px 0 0 0;
  }

  .mobile-like {
    top: -80px;
  }

  .text-mobile {
    font-size: 14px;
  }

  .dot-mob {
    top: 9px;
    right: 9px;
  }

  .info-position {
    text-align: start;
    padding-left: 30px;
    font-size: 14px;
  }
  .info-accent {
    padding-right: 0;
    font-size: 12px;
  }
  .main-text {
    font-size: 32px;
    line-height: normal;
  }
  .bg-main-accent {
    top: 8px;
    height: 26px;
  }
  .text-pad {
    font-size: 16px;
  }
  .modal-mob {
    padding: 30px 20px;
  }
  .modal-title-mob {
    font-size: 32px;
  }
}
